*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* NAV SECTION  */

header{
    background-image: url(img/mockup.png);
    background-size: cover;
    width: 100%;
}

nav{
    background-color: #111;
    width: 100%;
}

nav div.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav h2{
    color: white;
    opacity: .8;
    padding-left: .7rem;
}

nav img{
    width: 4rem;
    border-radius: 50%;
}

nav li{
    list-style-type: none;
    padding: 1rem .5rem;
    transition: all 2s;
}


nav li a{
    text-decoration: none;
    color: white;
    opacity: 1;
}

.confirm-seat{
    background-color: orange;
    color: #111;
    width: 50%;
}

header{
    width: 100vw;
    height: 100vh;
}

header div.heading{
    padding: 3rem 0 0 1rem;
}

header h1{
    font-size: 3rem;
}

header .softamplify{
    color: orange;
}



@media screen and (min-width: 768px) {
    nav{
        display: flex;
        justify-content: space-between; 
        align-items: center;
        background-size: cover;
        width: 100%;
        padding: .3rem;
    }

    nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav li{
        padding: .4rem 1rem;
    }

    nav li a{
        color: white;
        opacity: 1;
    }

    li.confirm-seat{
        width: 70%;
    }

    header div.heading{
        padding: 15rem 0 0 2rem;
    }

    header h1{
        font-size: 4rem;
    }
}